pandas
nba_api
plotly
scikit-learn
flask
matplotlib
Pillow
requests

# If you want to install the dependencies, run:
# pip install -r requirements.txt

# If you want to uninstall the packages for this requirements.txt file, run:
# pip uninstall -r requirements.txt -y
